typer
click
docx
docx2txt
matplotlib-venn
nltk
pandas
pandas-visual-analysis
pdfplumber
PyPDF2
scikit-learn
spacy
streamlit
openpyxl
Pillow
pickle4
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl
